body{
  font-family: Roboto;
  color: #2a1818;
  background: #fadc6d;
}
a{ color: #417b83;}

p, li{
  font-size: 120%;
}
.row.padded{
  margin-top: 6rem;
}
p.padded{
  margin-top: 1rem;
}
hr{
  border-color: black;
}

img{
  border-radius: 15px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-a{
  background-color: white;
}

blockquote{
  margin-left: 0;
  margin-right: 0;
}

blockquote p, p.small-p{
  font-size: 90%;
}
